@model CoLeadr.Models.ProjectViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectGroups)
        </dt>

        <dd>
            @foreach (var group in Model.ProjectGroups)
            {
                @group.Name 
            }
        </dd>

        <dt>
            Project Members
        </dt>
        <dd>
            @foreach(var member in Model.ProjectMembers)
            {
               <p> @member.FirstName @member.LastName </p>
            }
        </dd>
   


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
