@model CoLeadr.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignedGroups)
        </dt>

        <dd>
            @foreach (var group in Model.AssignedGroups)
            {
                @group.Name;
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignedGroupMembers)
        </dt>

        <dd>
            @foreach (var person in Model.AssignedGroupMembers)
            {
                @person.FirstName @person.LastName
            }
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
