@model CoLeadr.Models.PersonGroupingViewModel

@{
    ViewBag.Title = "Remove Member To Group";
}

<h2>Remove Member From Group</h2>
<ol class="breadcrumb">
    <li>@Html.ActionLink("Person", "Index")</li>
    <li class="active">Remove Person from Group</li>
</ol>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>Groups @Html.DisplayFor(model => model.FirstName) is in:</h4>
        <ul>
            @foreach (var group in Model.Memberships)
            {
                <li>@Html.DisplayFor(model => group.Name) </li>
            }
        </ul>
    </div>

    <div class="form-horizontal">
        <h4>Remove @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) From Group:</h4>

        @Html.HiddenFor(model => model.PersonId)

        <div class="form-group">
            <label>Group: </label>
            <!--CHANGE THIS TO A SELECTLIST OF GROUPS THE MEMBER IS ALREADY IN-->
            @Html.DropDownListFor(model => model.SelectedGroupId, Model.AllGroups, "Select A Group")
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Remove From Group" class="btn btn-default" />
            </div>
        </div>
    </div>
}